/*! Main CSS file */

body {
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  background:url(../img/daveo-background.svg) transparent;
  background:url(../img/daveo-background.svg),radial-gradient(yellow,#f06d06);

/*
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(transparent), to(#333));
  background: -webkit-radial-gradient(circle, transparent, #333);
  background: -moz-radial-gradient(circle, transparent, #333);
  background: -ms-radial-gradient(circle, transparent, #333);
*/
}

header {
  width:100%;
  min-height:150px;
  background:url(../img/daveo-header.svg) transparent;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  padding: 50px 0 0;
  margin: 0;
}
.outer-container {
  width:100%;

  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.panel-default {
    box-shadow: 5px 5px 8px #555, inset 0px 2px 3px #fff;
    background: rgba (145,145,145,.5);
}

#auth-modal {
  background: #000;
  background-image: url(img/pirate.jpg) no-repeat #000;
  color: #fff;
}
#auth-modal .modal-content{
  background: #333;
  color: #fff;
}
#modal_setnick {
  background: rgba(0,0,0,.8);
}

/* =========  Vertical Align Modals ============ */

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}


/***********************************
========== Audio Player ============ 
***********************************/

#audio_player {
  background-color: #f7f7f7;

}

div#player{
	width: 100%;
	color: #555555;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
}
#song-information{
	text-align: left;
	margin: 0 0 10px;
}
#controls{
	right: left;
}
#amplitude-volume-slider{
	width: 80%;
	margin: 0 auto;
  padding-right:35px;
}
.current-track {
  margin:20px 0 0;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  background: #337ab7;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {

  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: 1px solid #333;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: #f7f7f7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #337ab7;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #337ab7;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
output.volume {
  position: absolute;
  background-image: -moz-linear-gradient(top, #444444, #999999);
  background-image: -o-linear-gradient(top, #444444, #999999);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
  background-image: -webkit-linear-gradient(top, #444444, #999999);
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
output.volume:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
meter {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#amplitude-current-time{
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 15px;
	font-weight: 400;
  float:left;
}
#amplitude-play-pause {
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  margin: -50px 0 0 0;
  cursor: pointer;
  float: right;
  position: relative;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}
.amplitude-paused {  
  color:rgba(88, 185, 87, .7);
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
@-webkit-keyframes pulseon {to {box-shadow: 0 0 0 15px rgba(88, 185, 87, .1);}}
@-moz-keyframes pulseon {to {box-shadow: 0 0 0 15px rgba(88, 185, 87, .1);}}
@-ms-keyframes pulseon {to {box-shadow: 0 0 0 15px rgba(88, 185, 87, .1);}}
@keyframes pulseon {to {box-shadow: 0 0 0 15px rgba(88, 185, 87, .1);}}
.amplitude-paused:hover {   
  color:#58B957;
  text-shadow: 0px 0px 6px #58B957;
  box-shadow: 0 0 0 0 rgba(88, 185, 87, .7), inset 0px 4px 1px 1px white, inset 0px 4px 1px 1px rgba(204,198,197,.5);
  -webkit-animation: pulseon 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.amplitude-paused:after {
  content:"\e072";
  font-family:"Glyphicons Halflings";
  font-size:25px;
  line-height: 50px;
  padding-left:4px;
  text-shadow: 1px 4px 6px #def, 0 0 0 #555;
}
.amplitude-paused:before { 

}
.amplitude-playing {
  color:#DB524B;
  text-shadow:0px 0px 3px #DB524B;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
@-webkit-keyframes pulseoff {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulseoff {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulseoff {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulseoff {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
.amplitude-playing:hover {
  color:#DB524B;
  text-shadow:0px 0px 6px #DB524B;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7), inset 0px 4px 1px 1px white, inset 0px 4px 1px 1px rgba(204,198,197,.5);
  -webkit-animation: pulseoff 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.amplitude-playing:after {
  content:"\e073";
  font-family:"Glyphicons Halflings";
  font-size:25px;
  line-height: 50px;
  padding-left:4px;
}
.amplitude-playing:before {
}
#amplitude-now-playing-name{
}
#amplitude-now-playing-listeners{
}
#amplitude-now-playing-bitrate{
}


#archives audio { 
  width: 100px;
  background: #fff;

}
#archives audio::-webkit-media-controls-timeline-container,
#archives audio::-webkit-media-controls-timeline,
#archives audio::-webkit-media-controls-mute-button,
#archives audio::-webkit-media-controls-current-time-display
#archives audio::-webkit-media-controls-time-remaining-display {
  display:none !important;
}
.archive-audio {
  height:50px;
  text-align: center;
  display: table-cell; 
  vertical-align: middle !important;
}

#error-reconnecting {
 
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress {
  position: relative;
}
.progress .progress-bar {
  position: absolute;
  overflow: hidden;
  line-height: 20px;
}

/***********************************
=========== Chat Rooms ============= 
***********************************/
#room_users {
  margin-top: 10px;
  border-top: 1px solid #cecece;
  padding-top: 10px;
}
li#Lobby_tab {
  
}
.hidden-tab {
  display:none;
}

.social-comments {
  min-height:355px;
}
#fb_comments { 
  padding-bottom:10px; 
  overflow: scroll; 
}
.fb-comments, .fb-comments iframe[style], .fb-comments span {
  width: 100% !important;
}
.audio {
  margin: 0 0 30px;
  
}
video {
  background:#000;
  height: 256px;
  margin: 0 5px 5px 0;
  vertical-align: top;
  width: calc(50% - 12px);
}







/***********************************
======= Playlist/Calendar ========== 
***********************************/
.tabs-below > .nav-tabs {
  border-bottom: 0;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}
.scrollable-list {
  overflow: scroll;
  height: 198px;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} 
.scrollable-list .list-group-item {
  padding: 3px 10px;
  font-size:12px;
}
.scrollable-list-footer {
  background:#fff;
}
ul .badge {
  font-weight:normal;
}
.scrollable-list .list-group {
  margin: 0;
}



/***********************************
============ Footer =============== 
***********************************/




/* =========  Footer/Bottom Nav ============ */
.panel-bottom {
  background: rgba(0,0,0,.5);
  border:none;
}
.panel-bottom .navbar-brand {
  color:#fff;
}
.panel-bottom .navbar-nav > li > a {
  color:#fff;
}
.panel-bottom .navbar-nav > li > a:hover {
  color:#58B957;
  background:none;
}
.panel-bottom .navbar-nav > li > a:focus,
.panel-bottom .navbar-nav > li > a:active {
  border:none;
  text-decoration:none;
  outline:none;
  color:#fff;
  background:none;
}
.panel-bottom .navbar-nav > li > a:visited {
  border:none;
}

.listeners {
  width:410px;
  height:410px;
}
.chart {
  width:410px;
  height:410px;
}

footer {
  width:100%;
  min-height:100px;
  background:url(../img/daveo-footer.svg) transparent;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  padding: 50px 0 0;
  margin: 0 0 20px;
}












