/*! Main CSS file */
body {
  background-color:#777;
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
#room_users {
  margin-top: 10px;
  border-top: 1px solid #cecece;
  padding-top: 10px;
}


.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.tabs-below > .nav-tabs {
  border-bottom: 0;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} 

.scrollable-list {
  overflow: scroll;
  height: 192px;
}

.scrollable-list .list-group-item {
  padding: 3px 10px;
  font-size:12px;
}




/* ========== Audio ============ */

#audio_player {
  background: rgb(145,145,145); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(145,145,145,1) 0%, rgba(204,204,204,1) 5%, rgba(237,237,237,1) 51%, rgba(237,237,237,1) 78%, rgba(237,237,237,1) 78%, rgba(196,196,196,1) 93%, rgba(196,196,196,1) 93%, rgba(145,145,145,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(145,145,145,1) 0%,rgba(204,204,204,1) 5%,rgba(237,237,237,1) 51%,rgba(237,237,237,1) 78%,rgba(237,237,237,1) 78%,rgba(196,196,196,1) 93%,rgba(196,196,196,1) 93%,rgba(145,145,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(145,145,145,1) 0%,rgba(204,204,204,1) 5%,rgba(237,237,237,1) 51%,rgba(237,237,237,1) 78%,rgba(237,237,237,1) 78%,rgba(196,196,196,1) 93%,rgba(196,196,196,1) 93%,rgba(145,145,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#919191',GradientType=0 ); /* IE6-9 */
}

div#player{
	width: 100%;
	color: #555555;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
}
#song-information{
	text-align: left;
	margin: 0 0 10px;
}
#controls{
	right: left;
}
#amplitude-volume-slider{
	width: 80%;
	margin: 0 auto;
  line-height:14px;
}
output.volume {
  position: absolute;
  background-image: -moz-linear-gradient(top, #444444, #999999);
  background-image: -o-linear-gradient(top, #444444, #999999);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
  background-image: -webkit-linear-gradient(top, #444444, #999999);
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
output.volume:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
meter {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#amplitude-play-pause{
	width: 30px;
	height: 34px;
	margin: -40px 5px 0 0;
	cursor: pointer;
	float: right;
  background-color:red;
}
#amplitude-current-time{
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.amplitude-paused:before;{
  content:"\20ac";
  font-family:"Glyphicons Halflings";
  line-height:1;
  margin:10px;
  display:inline-block;
}

.amplitude-paused{
  content:"\20ac";
  font-family:"Glyphicons Halflings";
	background-image: url('../img/small-gray-play.png');
	background-repeat: no-repeat;
}
.amplitude-playing{
	background-image: url('../img/small-gray-pause.png');
	background-repeat: no-repeat;
}
#amplitude-now-playing-name{

}
#amplitude-now-playing-listeners{

}
#amplitude-now-playing-bitrate{

}